.coffee_blogs {
  background-image: url("../img/fon_home_page.jpg");
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  column-gap: 30px;
  padding: 43px 0 44px 0;
}
@media (max-width: 768px) {
  .coffee_blogs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    background-image: none;
    padding: 0;
  }
}
@media (max-width: 768px) {
  .coffee_blogs img {
    display: none;
  }
}
.coffee_blogs .box_blogs {
  background: #FFFFFF;
  box-shadow: 0 23px 34px rgba(35, 57, 55, 0.17);
  border-radius: 25px;
  height: 458px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 768px) {
  .coffee_blogs .box_blogs {
    margin: 0;
  }
}
.coffee_blogs .box_blogs .coffee_blogs_name {
  font-family: JosefinSans,sans-serif;
  font-size: 28px;
  line-height: 28px;
  font-weight: bold;
  margin: 0 0 25px 0;
}
.coffee_blogs .box_blogs .coffee_blogs_post {
  font-family: AlegreyaSans, sans-serif;
  font-size: 19px;
  line-height: 36px;
  margin: 0 62px 43px 58px;
}
.coffee_blogs .box_blogs .coffee_blogs_order {
  font-size: 20px;
  font-family: JosefinSans, sans-serif;
  line-height: 25px;
  color: #FFFFFF;
  background-color: #2D635E;
  display: inline-flex;
  border-radius: 5px;
  padding: 14px 0 15px 0;
  width: 235px;
  justify-content: center;
}
