header {
  padding: 40px 120px 0 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px){
  header {
    padding: 30px 0 0 0;
  }
}
header div ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
header .the_logo_and_brand {
  margin: 0 260px 0 0;
}
@media (max-width: 768px){
  header .the_logo_and_brand {
    position: relative;
    width: 100%;
    margin: 0 0 0 43px;
    display: flex;
    justify-content: start;
  }
}
.the_logo_and_brand img {
  padding: 0 13px 0 0;
}
header .nav_menu {
  font-family: JosefinSans, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
}
@media (max-width: 768px) {
  header .nav_menu {
    display: none;
  }
}
header .nav_menu_section {
  display: none;
}
@media (max-width: 768px) {
  header .nav_menu_section {
    height: 21px;
    width: 27px;
    display: block;
    margin-left: 18px;
    margin-top: 15px;
  }
}
header .nav_menu_section .nav_menu_mini {
  display: none;
}
@media (max-width: 768px) {
  header .nav_menu_section .nav_menu_mini {
    display: block;
    width: 27px;
    height: 21px;
    position: relative;
    border-radius: 5px
  }
}
header .nav_menu_section .nav_menu_mini span {
  display: none;
}
@media (max-width: 768px) {
  header .nav_menu_section .nav_menu_mini span,
  header .nav_menu_section .nav_menu_mini span::before,
  header .nav_menu_section .nav_menu_mini span::after {
    display: block;
    position: absolute;
    width: 27px;
    height: 2px;
    background-color: #222;
  }
  header .nav_menu_section .nav_menu_mini span::before,
  header .nav_menu_section .nav_menu_mini span::after {
    content: "";
  }
  header .nav_menu_section .nav_menu_mini span::before {
    transform: translateY(-8px);
  }
  header .nav_menu_section .nav_menu_mini span::after {
    transform: translateY(8px);
  }
}
.nav_menu ul li {
  padding: 0 90px 0 0;
}
.nav_menu ul li:hover {
  color: red;
  cursor: pointer;
}
.nav_menu .contacts {
  background: #2D635E;
  border-radius: 7px;
  height: 43px;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  padding: 0 32px;
  align-items: center;
  color: #FFFFFF;
}
.nav_menu .contacts:hover {
  background-color: #e2ebe6;
  cursor: pointer;
  color: #535958;
}
.logo_style {
  font-family: CedarvilleCursive, sans-serif;
  font-size: 32px;
  line-height: 61px;
}
main {
  padding: 43px 0 0 0;
}
@media (max-width: 768px) {
  main {
    padding: 0;
  }
}
main div ul li {
  list-style-type: none;
}
main div ul {
  margin: 0;
  padding: 0;
}
main .box {
  display: flex;
  justify-content: center;
  padding: 0 0 137px 0;
  align-items: flex-end;
}
@media (max-width: 768px) {
  main .box {
    display: flex;
    flex-direction: column;
    font-size: 19px;
    align-items: center;
    line-height: 36px;
    row-gap: 70px;
    text-align: center;
    padding: 0;
  }
}
main .box span {
  display: none;
}
@media (max-width: 768px) {
  main .box span {
    display: block;
  }
}
main .box .box_1 {

}
@media (max-width: 768px) {
  main .box .box_1 {
    padding: 0;
  }
}
main .box .box_1 ul {
  display: flex;
  justify-content: flex-end;
}
main .box .home_page_font_product_name_1 {
  font-family: AlegreyaSans, sans-serif;
  font-size: 19px;
  line-height: 36px;
}
main .box .home_page_font_product_name_2 {
  font-family: AlegreyaSans, sans-serif;
  font-size: 19px;
  line-height: 36px;
  margin: 25px 0 0 0;
}
main .box .home_page_font_label_name {
  font-family: JosefinSans, sans-serif;
  font-size: 63px;
  font-weight: bold;
  line-height: 63px;
  margin: 0 0 26px 0;
}
@media (max-width: 768px) {
  main .box .home_page_font_label_name {
    font-size: 54px;
    line-height: 54px;
    margin: 0;
    font-weight: 100;
    padding: 12px 0 30px 0;
  }
}
main .box .home_page_font_label {
  font-family: JosefinSans, sans-serif;
  font-size: 38px;
  font-weight: bold;
  line-height: 38px;
}
@media (max-width: 768px) {
  main .box .home_page_font_label {
    width: 334px;
    margin: 0;
  }
}
main .box .home_page_font_slogan {
  font-family: CedarvilleCursive, sans-serif;
  font-size: 28px;
  line-height: 53px;
  color: #444A4A;
  margin: 0 145px 26px 0;
}
@media (max-width: 768px){
  main .box .home_page_font_slogan {
  margin: 0;
  font-size: 19px;
  padding: 150px 0 0 0;
  }
}
main .box .home_page_vector {
  background-color: #E3EBE7;
  opacity: 40%;
  width: 159px;
  height: 157px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media (max-width: 768px) {
  main .box .home_page_vector {
    display: none;
  }
}
main .box .home_page_coffee_label {
  background-color: #E3EBE7;
  width: 410px;
  height: 466px;
}
@media (max-width: 768px) {
  main .box .home_page_coffee_label {
    display: none;
  }
}
main .box .home_page_coffee_label img {
  padding: 140px 27px 47px 39px;
}
main .box .home_page_order {
  font-size: 20px;
  font-family: JosefinSans, sans-serif;
  line-height: 25px;
  color: #FFFFFF;
  background-color: #2D635E;
  display: flex;
  border-radius: 5px;
  padding: 14px 0 15px 0;
  width: 235px;
  justify-content: center;
  margin: 0 0 137px 0;
}
@media (max-width: 768px) {
  main .box .home_page_order {
    font-size: 16px;
    font-family: JosefinSans, sans-serif;
    line-height: 16px;
    color: #FFFFFF;
    background-color: #2D635E;
    display: inline-flex;
    border-radius: 5px;
    padding: 14px 0 15px 0;
    justify-content: center;
    width: 189px;
    column-gap: 32px;
    margin: 0 0 177px 0;
  }
}
main .box .home_page_social_networks {
  margin: 0 0 0 44px;
}
@media (max-width: 768px) {
  main .box .home_page_social_networks {
    display: none;
  }
}
main .box .home_page_social_networks ul {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}
main .box .home_page_social_networks ul li {
  margin: 14px 0 0 0;
}
main .box .home_page_social_networks .social_fallow {
  font-family: JosefinSans,sans-serif;
  font-weight: 700;
  writing-mode: tb-rl;
  transform: rotate(180deg);
  font-size: 28px;
}
main .box .box_1 .home_page_coffee_post {
  background-color: #FAE9E0;
  width: 380px;
  height: 287px;
}
@media (max-width: 768px) {
  main .box .box_1 .home_page_coffee_post {
    background-color: #FAE9E0;
    width: 380px;
    height: 248px;
  }
}
main .box .box_1 .home_page_coffee_post img {
  padding: 78px 0 0 28px;
}
@media (max-width: 768px) {
  main .box .box_1 .home_page_coffee_post img {
    padding: 0;
  }
}
main .box .box_1 .autograph {
  font-family: CedarvilleCursive,sans-serif;
  font-size: 28px;
  line-height: 53px;
  position: absolute;
  transform: rotate(270deg);
}
@media (max-width: 768px) {
  main .box .box_1 .autograph {
    display: none;
  }
}
main .box .home_page_description {
  margin: 0 73px 0 103px;
}
@media (max-width: 768px) {
  main .box .home_page_description {
    width: 342px;
    height: 591px;
    margin: 0;
  }
}
main .box .box_1 .home_page_coffee_post_1 {
  background-color: #E3EBE7;
  width: 410px;
  height: 276px;
}
@media (max-width: 768px) {
  main .box .box_1 .home_page_coffee_post_1 {
    width: 100%;
    height: 100%;
  }
}
main .box .box_1 .autograph_1 {
  position: absolute;
  font-family: CedarvilleCursive,sans-serif;
  font-size: 28px;
  line-height: 53px;
  transform: rotate(270deg);
}
@media (max-width: 768px) {
  main .box .autograph_1 {
    display: none;
  }
}
main .box .box_1 .home_page_coffee_post_1 img {
  padding: 0 102px 14px 72px;
}
main .box .home_page_font_product_name_3 {
  font-family: AlegreyaSans, sans-serif;
  font-size: 19px;
  line-height: 36px;
  margin: 25px 180px 0 0;
}
@media (max-width: 768px) {
  main .box .home_page_font_product_name_3 {
    width: 334px;
    margin: 0;
  }
}
main .box .home_page_order_1 {
  font-size: 20px;
  font-family: JosefinSans, sans-serif;
  line-height: 25px;
  color: #FFFFFF;
  background-color: #2D635E;
  display: flex;
  border-radius: 5px;
  padding: 14px 0 15px 0;
  width: 235px;
  justify-content: center;
  margin: 24px 0 0 0;
}
@media (max-width: 768px) {
  main .box .home_page_order_1 {
    display: none;
  }
}


